---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import BrandsSlider from "../components/BrandsSlider.astro";
import Services from "../components/Services.astro";
import FaqSection from "../components/FaqSection.astro";
import ContactBanner from "../components/ContactBanner.astro";
import { generalFaqs } from "../data/products";
import { PAGE_SEO } from "../data/site";
import { faqSchema, websiteSchema } from "../lib/structured-data";
---

<Layout
  title={PAGE_SEO.home.title}
  description={PAGE_SEO.home.description}
  path="/"
  structuredData={[websiteSchema(), faqSchema(generalFaqs)]}
>
  <main>
    <Hero />
    <BrandsSlider />
    <Services />
    <FaqSection faqs={generalFaqs} />
  </main>
  <ContactBanner />
</Layout>
